= form_with(model: director, class: "contents") do |form|
  - if director.errors.any?
    #error_explanation.bg-red-50.text-red-500.px-3.py-2.font-medium.rounded-lg.mt-3
      %h2
        = pluralize(director.errors.count, "error")
        prohibited this director from being saved:
      %ul
        - director.errors.each do |error|
          %li= error.full_message
  .my-5
    = form.label :firstName
    = form.text_field :firstName, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
  .my-5
    = form.label :lastName
    = form.text_field :lastName, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
  .my-5
    = form.label :store_id
    = form.collection_select :store_id, Store.all, :id, :name, {:prompt => true}, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full"
    -# = form.text_field :store_id, 
  .inline
    = form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"
