%div{:id => "#{dom_id beer}"}
  %p.my-5
    %strong.block.font-medium.mb-1 Brand:
    = beer.brand
  %p.my-5
    %strong.block.font-medium.mb-1 Name:
    = beer.name
  %p.my-5
    %strong.block.font-medium.mb-1 Cl:
    = beer.cl
  %p.my-5
    %strong.block.font-medium.mb-1 Description:
    = beer.description
  %p.my-5
    %strong.block.font-medium.mb-1 Notes:
    = beer.notes.length > 0 ? beer.notes.pluck(:value).sum / beer.notes.length : 'None'

  - if action_name != "show"
    = link_to "Show this beer", beer, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium"
    = link_to "Edit this beer", edit_beer_path(beer), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium"
    %hr.mt-6/
